<div class="shelved-book">
  <%= link_to shelved_book do %>
    <img src=<%= shelved_book.image_links["thumbnail"] %> class="book-cover img-thumbnail">
    <div class="title-byline">
      <div class="title"><%= shelved_book.title %></div>
        <% shelved_book.authors.each_value do |author| %>
          <span class="authors-attribution">
            <%= author %>
          </span>
        <% end %>
    </div>
  <% end %>
</div>
