<div class="shelved-book">
  <%= link_to shelved_book do %>
    <img src=<%= shelved_book.image_links["thumbnail"] %> class="book-cover img-thumbnail">
    <div class="title-byline">
      <span><%= shelved_book.title %></span>
      <span class="authors-attribution"><%= shelved_book.authors.values.join(", ") %></span>
    </div>
  <% end %>
</div>
