nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 55%;
  text-decoration: none;
  margin-bottom: 25px;

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 50%;
    height: auto;
    padding-top: 15px;

    a {
      color: $base-grey;
    }

  }

  .nav-logout {
    color: $text-color;
    font-size: 16px;
    line-height: 16px;
    margin-right: 25px;
    text-decoration: none;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: auto;

    .nav-search {
      display: flex;
      flex-direction: row;
      width: auto;
      margin-left: 15px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    width: 90%;

    .nav-links {
      width: fit-content;
      height: auto;
      padding-top: 5px;
    }

    .nav-logout {
      color: $text-color;
      font-size: 16px;
      line-height: 16px;
      margin-right: 5px;
      text-decoration: none;
    }

    .buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 90%;
      height: auto;

      .nav-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75%;
        margin-left: 5px;

        #search {
          height: 40px;
        }
      }
    }
  }
}
