#session-menu {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    margin-bottom: 15px;
  }

  .auth-btn {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    height: 40px;
    min-width: 100%;
    color: $base-white;
    padding: 8px 25px;
  }

  #login-btn {
    border: 1px solid #15A2B7;
    background-color: #15A2B7;
  }

  #google-btn {
    border: 1px solid #EA4335;
    background-color: #EA4335;
  }
}
