@import "reset.scss";
@import "bootstrap";

@import "variables.scss";

@import "modules/*";
@import "modules/shelves/*";
@import "modules/books/*";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base-white;
  font-family:$font-family;

}

.btn {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  height: 40px;
  width: 81px;
}
