<nav>
  <div class="nav-links">
    <% ActsAsTenant.current_tenant.shelves.pluck(:name).each do |shelf_name| %>
      <p><%= shelf_name %></p>
    <% end %>
  </div>

  <%= button_to(
    "Log Out",
    destroy_user_session_path,
    method: :delete
  ) %>

  <%= render 'layouts/google_books_search' %>
</nav>
